[submodule "libs/JC_Button"]
	path = libs/JC_Button
	url = git@github.com:JChristensen/JC_Button.git
[submodule "libs/Grove_4Digital_Display"]
	path = libs/Grove_4Digital_Display
	url = git@github.com:Seeed-Studio/Grove_4Digital_Display.git
